{{template "header"}}
<main class="mx-auto">
   {{if not .HasError}}
   <div class="bg-[#0000007d] top-0 left-0  h-screen flex justify-center items-center w-screen fixed z-50 ">
      <div class="bg-[#1e252b] flex flex-col items-center w-[350px] p-4 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 text-green-500 h-16">
               <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
            </svg>
            <p class="text-gray-400 my-4">Congratulations. Your account <br> has been succesfully created</p>
           <a class="w-full" href="/auth/login">
               <button class="bg-indigo-600 w-full cursor-pointer text-white flex gap-2 items-center justify-center px-3 py-2 rounded-sm">
               Go to login
             </button>
           </a>
         </div>
   </div>
   {{end}}
   <form class="flex  flex-col md:w-[600px] mx-auto p-4 gap-4 register-form" method="POST">
      <!-- Form Header -->
      <div>
         <h1 class="text-2xl font-extrabold my-2">Join The community ✨</h1>
         <p>Welcome to <span class="text-orange-500 font-bold">OpinionShare</span>. Join us now to engage, discuss, and discover a world of diverse perspectives</p>
      </div>
      <div class="grid grid-cols-2 gap-4">
              <!-- First Name Input -->
      <div class="w-full">
         <input class="border-2 p-3 bg-[#262d34] w-full bg-[#1e252b] border-gray-700 " type="text" placeholder="First Name" name="fname">
         <small id="error-1" class="text-red-500 fname-error error-message"></small>
      </div>
      <!-- Last Name Input -->
      <div class="w-full">
         <input class="border-2 p-3 bg-[#262d34] w-full bg-[#1e252b] border-gray-700" type="text" placeholder="Last Name" name="lname">
         <small id="error-2" class="text-red-500 lname-error error-message"></small>
      </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
            <!-- Email Input -->
            <div class="w-full">
               <input class="border-2 p-3 bg-[#262d34] w-full bg-[#1e252b] border-gray-700" type="email" placeholder="Email" name="email">
               <small id="error-3" class="text-red-500 email-error error-message"></small>
            </div>
            <!-- Username Input -->
            <div class="w-full">
               <input class="border-2 p-3 bg-[#262d34] w-full bg-[#1e252b] border-gray-700" type="text" placeholder="Username" name="username">
               <small id="error-2" class="text-red-500 username-error error-message"></small>
            </div>
      </div>
        <!-- Password Input -->
        <div class="relative w-full">
         <small  class="cursor-pointer absolute top-4 right-4 show-password">
            <img class="w-6 h-6" src="/static/assets/eye.svg" alt="Not found">
         </small>
         <input class="border-2 p-3 bg-[#262d34] w-full bg-[#1e252b] border-gray-700" type="password" placeholder="Password" name="password">
         <small id="error-4" class="text-red-500 password-error error-message"></small>
         </div>
      <!-- Bio -->
      <div class="w-full">
         <textarea placeholder="Tell us about you..."  class="border-2 w-full p-3 bg-[#262d34] bg-[#1e252b] border-gray-700" name="bio" id="" cols="30" rows="4"></textarea>
           <small id="error-3" class="text-red-500 bio-error error-message"></small>
       </div>


         {{range .Errors}}
            <small class="text-red-500 text-[12px]">{{.}}</small>
         {{end}}

      <!-- Submit Button -->
      <input class="bg-indigo-600 text-white p-3 cursor-pointer" type="submit" value="Sign up">
      <button class="border-orange-500 border-2 text-orange-500 flex gap-2 items-center justify-center google-auth p-3">
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" width="64" height="64"><defs><path id="A" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="B"><use xlink:href="#A"/></clipPath><g transform="matrix(.727273 0 0 .727273 -.954545 -1.45455)"><path d="M0 37V11l17 13z" clip-path="url(#B)" fill="#fbbc05"/><path d="M0 11l17 13 7-6.1L48 14V0H0z" clip-path="url(#B)" fill="#ea4335"/><path d="M0 37l30-23 7.9 1L48 0v48H0z" clip-path="url(#B)" fill="#34a853"/><path d="M48 48L17 24l-4-3 35-10z" clip-path="url(#B)" fill="#4285f4"/></g></svg>
         Sign up with Google
      </button>
      <small class="text-center">Already have an account? <a href="/auth/login" class="hover:underline text-orange-500">Sign in</a></small>
   </form>
   <script src="/static/javascript/forms/form-validation.js"></script>
   <script src="/static/javascript/forms/show-hide-password.js"></script>
</main>
{{template "footer"}}


