{{template "header"}}
    <main class="px-4 py-3 pt-24 flex flex-col gap-12">
        <!-- Hero Section -->
        <section class="relative md:mt-8 overflow-hidden">
            <!-- Hero section heading -->
            <div class="md:w-[45%] flex flex-col gap-4">
                <h1 class="font-extrabold text-3xl md:text-5xl ">Connect, Engage, Inspire Welcome to <span class="text-orange-500">OpinionShare</span></h1>
                <p>Join a vibrant global community where meaningful conversations happen every day. Stay connected with friends and like-minded individuals from across the world. Discover and share knowledge, ideas, and passions through interactive discussions. Your voice matters here. Let's build connections that last.</p>
                <div class="flex gap-4 items-center my-4">
                    <a href="/auth/register">
                        <button class="bg-indigo-600 text-white px-3 py-2 w-fit">Join us now</button>
                    </a>
                    <a href="/posts">
                        <button class="border-orange-500 border-2 text-orange-500 px-3 py-2 w-fit">Start as guest</button>
                    </a>
                </div>
            </div>
        </section>
    </main>
{{template "footer"}}
